#roundButton {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(214, 252, 255);
    border-radius: 50%;
    border: 8px solid #0065A6;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#roundButton:hover {
    background-color: rgb(0, 238, 255);
    cursor: pointer;
    border: 10px solid #003657e7;
    transform: scale(1.2, 1.2);
}

#roundButton:active {
    border-color: #003557;
    background-color: #FFF;
}